@model QuizK101.Models.Exam

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeeAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeeAnswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
