@model QuizK101.ViewModels.HomeVM
@{
    ViewBag.Title = "QuizInfo";
}

<h2>QuizInfo</h2>

@if (Model.Exam != null && Model.Exam.Questions!=null)
{
    int questCount = Model.Exam.Questions.Count();
    <table class="table" style="margin:4em 0">
        <tbody>
            <tr>
                <td>İmtahan adı</td>
                <td>@Model.Exam.Name</td>
            </tr>
            <tr>
                <td>İmtahan vaxtı</td>
                <td>@Model.Exam.ExamTime</td>
            </tr>
            <tr>
                <td>Sual sayı</td>
                <td>@Model.Exam.Questions.Count()</td>
            </tr>

            <tr class="qStartEnd">
                <td width="220px" style="font-weight:bold;color:red;">Suallar hansı aralıqdan düşsün</td>
                <td style="vertical-align:middle;">
                    <input type="text" name="q_start" value="1" style="width:30px;">
                    <input type="number" name="q_end" value="@questCount" max="@questCount" style="width:50px;">
                    sual aralığından @Model.Exam.QuestionCount sual
                </td>
            </tr>

            <tr class="qIds" style="display: none;">
                <td width="220px" style="font-weight:bold;color:red;">
                    Sualların sıra nömrələrini qeyd edin
                    (nümünə: 1,43,34,654)
                </td>
                <td style="vertical-align:middle;">
                    <input type="text" name="q_ids" value="" style="width:100px;">
                    nömrəli suallardan 50 sual
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="post">
                        <input id="examId" type="hidden" name="ExamId" value="@Model.Exam.ID" />
                        <input type="hidden" name="q_start" value="1">
                        <input type="hidden" name="q_end" value="@questCount">
                        <input type="hidden" name="q_ids" value="@questCount" style="width:100px;">
                        <input id="btnStartExam" class="btn btn-primary btn-lg" type="submit" value="Imtahana başla" />

                    </form>
                    @*<a class="btn btn-primary btn-lg" href="@Url.Action("StartExam","Quiz",new { ExamId=Model.Exam.ID})">İmtahana Başla</a>*@
                </td>
            </tr>
        </tbody>
    </table>

}

@section scripts{
    @*<script>
            $(function () {
                $("#btnStartExam").submit(function () {
                let data = {
                    ExamId: $("#examId").val(),
                    q_start: $("input[name=q_start]").val(),
                    q_end: $("input[name=q_end]").val(),
                    q_ids:'@questCount'
                }
                $.post('@Url.Action("QuizInfo", "Quiz")', data)
                })
            })

        </script>*@
}
